html
  head
    title="Battleship elsporko style"
    link(href='css/grid.css' rel='stylesheet' type='text/css')
    script(src='javascript/ships.js')
    script(src='javascript/sockjs.js') //v 1.0.3
    script(src='javascript/config.js')
    script(src='javascript/board.js')
    script(src='javascript/grid.js')
    script(src='javascript/stomp.js')
    script(src='javascript/register.js')
  body
    #binit
      form
        p Handle:
        input(placeholder="Who are you")

    #setbord
      section#instructions
      p <strong>Set initial fleet</strong>
-       list=["Drag boat to reposition", "Click boat to change course heading (East/West <-> North/South)"]
      ul
      each item in list
          li=item          
      section#grid
        aside#shiplist
          p.shiplabel.acclickedlbl Aircraft Carrier
          p.shiplabel.bsclickedlbl Battleship
          p.shiplabel.declickedlbl Destroyer
          p.shiplabel.suclickedlbl Submarine
          p.shiplabel.pbclickedlbl Patrol Boat

      script(type=javascript).
        //var ws=new WebSocket('ws://192.168.1.100:61613');
        //console.log('ws: ' + JSON.stringify(ws));
        //ws.send('This is a test');
        //var url = "http://192.168.1.100:61613";
        var url = "http://192.168.1.100:15674/stomp";
        //var client = Stomp.client(url);
        var ws = new SockJS(url);
        var client = Stomp.over(ws);
        var header = {
            login: 'test',
            passcode: 'test'
        };

        client.heartbeat.outgoing=0;
        client.heartbeat.incoming=0;

        client.connect(header,
            function(){
                //console.log('Hooray! Connected');
                /*
                client.subscribe("/exchange/CommandCentral",
                    function(message){
                        console.log('subscribed: ' + JSON.stringify(message))
                    });
                */
                var corr = generateUuid();

                client.subscribe('/queue/CommandCentral', function(msg){
                    if(msg.properties.correlationId == corr) {
                        console.log(' [.] Got %s', JSON.stringify(msg));
                        setTimeout(function() {conn.close()}, 500);
                    }
                    }, {noAck: true});

                var enc = new TextEncoder("utf-8");
                client.send('/queue/CommandCentral',
                    enc.encode("elsporko"),
                    {correlationId: corr, replyTo: '/queue/CommandCentral'});
            },
            function(error){
                console.log('Error connecting to WS via stomp:' + JSON.stringify(error));
            }
            );

        console.log('client: ' + JSON.stringify(client));


        var grid=clickableGrid(10,10,function(el,row,col,i){});
        document.body.appendChild(grid);
        ships.placeShips();

      form
        p
        button(value="Play Game" name="playGame" id="playGame") Play Game

